<table class='table table-bordered'>
  <thead>
    <tr>
      <th>今日の投稿数</th>
      <th>前日の投稿数</th>
      <th>前日比</th>
    </tr>
  </thead>
  <tbody>
      <tr width="90%">
        <td width="30%"><%= @today_book.count %></td>
        <td width="30%"><%= @yesterday_book.count %></td>
        <% if @yesterday_book.count == 0 %>
        <td width="30%">前日の投稿はなし</td>
        <% else %>
        <td width="30%"><% @the_day_before = @today_book.count / @yesterday_book.count.to_f %>
       　<%= (@the_day_before * 100).round %>%</td>
        <% end %>
      </tr>
  </tbody>
</table>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>今週の投稿数</th>
      <th>前週の投稿数</th>
      <th>前週比</th>
    </tr>
  </thead>
  <tbody>
      <tr width="90%">
        <td width="30%"><%= @this_week_book.count %></td>
        <td width="30%"><%= @last_week_book.count %></td>
        <% if @last_week_book.count == 0 %>
        <td width="30%">前週の投稿はなし</td>
        <% else %>
        <td width="30%"><% @the_week_before = @this_week_book.count / @last_week_book.count.to_f %>
       　<%= (@the_week_before * 100).round %>%</td>
        <% end %>
      </tr>
  </tbody>
</table>



