<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2Ver2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
  </head>
  <body>
  <!--Turbolinksをページごとに無効化-->
  <div
  <% if content_for?(:body_attributes) %>
    <%= yield(:body_attributes) %>
  <% end %>
  >
  <!--ここまで-->
    <%= render 'layouts/header' %>
    <!--検索ボックス-->
    <%= render 'searches/form' %>
      <main>
        <p id="notice"><%= notice %></p>
        <%= yield %>
       <!--トップに戻るボタン 配置の設定ができな-->
       <span id="back", class="float-right">
       <a href="#">
        <%= image_tag "arrow.png", size:"50x50" %>
       </a>
       </span>
    　 <!--ここまで-->
      </main>
    <%= render 'layouts/footer' %>
  </div>
  <!--下記はトップへ戻るボタンのために-->
  <script src="js/script.js"></script>
  </body>
</html>
